<div class="modal-background" *ngIf="modalState() | async">
    <div class="modal-window modal-add-task">
        <div class="modal-header">
            <p class="modal-headertext-style">Тест модального окна</p>
            <button (click)="closeModal()">Закрыть окошко</button>
        </div>
        <div class="modal-body">
            <title-input [value]="titleOfName | async" [placeholder]="'Имя'"
                (valueChange)="onNameChange($event)"></title-input>
            <title-input [value]="titleOfSurname | async" [placeholder]="'Фамилия'"
                (valueChange)="onSurnameChange($event)"></title-input>
            <div class="modal-footer fix-footer">
                <button (click)="save()">Сохранить</button>
            </div>
        </div>
    </div>
</div>